@use '../abstracts/' as *;
@use '../utilities' as *;

body {
    font-size: getFontSize(400);
    font-weight: getFontWeight(400);
    font-family: getFontFamily();
    color: clr(neutral, 900);
    background-color: clr(neutral, 100);
    text-align: center;
  }